<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Prysm.AppVision.AppWizardSalto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Prysm.AppVision.AppWizardSalto.Properties.Settings>
            <setting name="AppVisionHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="AppVisionLogin" serializeAs="String">
                <value>ADM</value>
            </setting>
            <setting name="PrysmBridgePort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="SaltoHostIP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="SaltoServerPort" serializeAs="String">
                <value>6500</value>
            </setting>
            <setting name="SaltoHostPort" serializeAs="String">
                <value>8081</value>
            </setting>
            <setting name="SaltoHttpPort" serializeAs="String">
                <value>6501</value>
            </setting>
            <setting name="OfflineDoorSymbol" serializeAs="String">
                <value>Config\SymbolsSALTO\SaltoHandle.xaml</value>
            </setting>
            <setting name="IpDoorSymbol" serializeAs="String">
                <value>Config\SymbolsSALTO\SaltoDoor.xaml</value>
            </setting>
            <setting name="UseHttps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImportRelays" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HttpsMode" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="HttpsUsername" serializeAs="String">
                <value/>
            </setting>
            <setting name="HttpsCustomKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="RFDoorSymbol" serializeAs="String">
                <value>Config\SymbolsSALTO\SaltoHandleRF.xaml</value>
            </setting>
            <setting name="LockerSymbol" serializeAs="String">
                <value>Config\SymbolsSALTO\SaltoLocker.xaml</value>
            </setting>
        </Prysm.AppVision.AppWizardSalto.Properties.Settings>
    </userSettings>
</configuration>
